@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --azul-destaque: #035fde;
  --azul-forte: #036bfd;
  --azul-claro: #589dfd;
  --fundo: #f3f3f3;
  --branco: #fff;
  --preto: #000;
  --sombra: #39393927;

  --fonte-nome: "Carattere", cursive;
}

header {
  background-color: var(--azul-destaque);
  display: flex;
  justify-content: end;
  position: sticky;
  top: 0;
}

nav {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

nav i {
  padding: 10px;
  color: var(--branco);
  font-size: 1.3em;
  border-radius: 5px;
  transition: 0.4s;
}

nav i:hover {
  cursor: pointer;
  color: var(--azul-destaque);
  background-color: var(--azul-claro);
}

main {
  height: 100%;
  background-color: var(--fundo);
  display: grid;
  grid-template-columns: 0px 1fr 0px;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

#perfil {
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 1px 1px 5px var(--sombra);
  grid-row: 1 / 2;
  grid-column: 2 / -2;
  padding: 10px;
}

#perfil #foto {
  width: 200px;
  height: 200px;
  border: 4px solid var(--azul-destaque);
  border-radius: 50%;
  padding: 4px;
  margin: auto;
}

#perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#perfil h2 {
  font-family: var(--fonte-nome);
  font-size: 2.4em;
  font-weight: 500;
  text-align: center;
  color: var(--azul-destaque);
  padding: 5px;
}

#perfil p {
  text-align: justify;
  padding: 5px;
}

#perfil #redes {
  display: flex;
  justify-content: center;
}
#perfil #redes i {
  color: var(--azul-destaque);
  font-size: 1.6em;
  padding: 10px;
  transition: 0.4s;
}

#perfil #redes i:hover {
  color: var(--azul-claro);
}

#conteudo {
  grid-row: 2 / -1;
  grid-column: 2 / -2;
}

#skills {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 5px var(--sombra);
}

#skills h2 {
  color: var(--azul-destaque);
  padding-bottom: 20px;
}

#skills h2 > i {
  color: var(--azul-destaque);
}

#container-skills {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 5px;
}

#container-skills .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container-skills .nome {
  color: var(--preto);
  font-weight: bold;
}

#container-skills .porcent {
  font-weight: bolder;
  font-size: 1.1em;
  color: var(--azul-destaque);
}

#container-skills .barra {
  width: 100%;
  height: 8px;
  background-color: var(--fundo);
  border-radius: 5px;
}

#container-skills .progresso {
  height: 100%;
  background-color: var(--azul-claro);
  border-radius: 5px;
}

#formacao {
  background-color: var(--branco);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

#formacao h2 {
  color: var(--azul-destaque);
  padding-bottom: 20px;
}

#formacao-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#formacao-container .curso {
  background-color: var(--fundo);
  border-radius: 8px;
  border-left: 5px solid var(--azul-claro);
  padding: 3px 0px 3px 15px;
}

#formacao-container .curso:hover {
  transition: 0.5s;
  cursor: pointer;
  border-left-width: 15px;
  border-color: var(--azul-destaque);
}

#formacao-container .periodo {
  font-size: 0.9em;
  font-weight: bold;
}

#formacao-container h3 {
  color: var(--azul-claro);
  font-size: 1.1em;
}

@media screen and (min-width: 768px) {
  #container-skills {
    grid-template-columns: 1fr 1fr;
  }
}
